[project]
	description = "A few starter examples of ansible playbooks, to show features and how they work together.  See http://galaxy.ansible.com for example roles from the Ansible community for deploying many popular applications."
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Abhimanyu Singh (abhimanyusingh0)
[access "refs/for/refs/*"]
	read = group user/Abhimanyu Singh (abhimanyusingh0)
	push = group user/Abhimanyu Singh (abhimanyusingh0)
	label-Code-Review = -2..+2 group user/Abhimanyu Singh (abhimanyusingh0)
	label-Verified = -1..+1 group user/Abhimanyu Singh (abhimanyusingh0)
	rebase = group user/Abhimanyu Singh (abhimanyusingh0)
	removeReviewer = group user/Abhimanyu Singh (abhimanyusingh0)
	submit = group user/Abhimanyu Singh (abhimanyusingh0)
[access "refs/heads/*"]
	read = group user/Abhimanyu Singh (abhimanyusingh0)
	create = group user/Abhimanyu Singh (abhimanyusingh0)
	push = +force group user/Abhimanyu Singh (abhimanyusingh0)
	pushMerge = group user/Abhimanyu Singh (abhimanyusingh0)
[access "refs/tags/*"]
	push = group user/Abhimanyu Singh (abhimanyusingh0)
	push = +force group user/Abhimanyu Singh (abhimanyusingh0)
